<div>
  <mat-table #table [dataSource]="dataSource">
     <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>
            position
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
             {{element.position}}
        </mat-cell>
     </ng-container>

     <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
           {{element.name}}
      </mat-cell>
   </ng-container>


   <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef>
        weight
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
         {{element.weight}}
    </mat-cell>
 </ng-container>


 <ng-container matColumnDef="symbol">
  <mat-header-cell *matHeaderCellDef>
    symbol
  </mat-header-cell>
  <mat-cell *matCellDef="let element">
       {{element.symbol}}
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>